section{
    background-color:rgba(161, 161, 161, 0.8);
    padding:20px;
}
.logo{
    margin-left: 20px;
    margin-top: 2px;
  height: 80px;
  width: 130px;
}.p-logo{
    position: absolute ;
    left: 0;
    top: -0;
}.nav{
    position: relative;
      padding-top: 14px;
      padding-right: 20px;
      background-color: #F64E34;
      height: 85px;
      line-height: 40px;
}.search{
    animation: none;
    border-style: none;
    border-radius: 100px;
    width: 100%;
    outline: 0;
    padding: 0 45px 0 18px;
}.li-form{
    margin-top: 7px;
    margin-right: 30px;
    width: 40%;
}.search-form{
    width: 100%;
}.nav-item img{
    width: 30px;
}.containerSearch{
    position: relative;
}.btnSearch{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 40px;
    border-radius: 0 100px 100px 0;
    height: 40px;
}.btnSearch:hover{
    background-color: rgba(0, 0, 255, 0.541);
}.fa-shopping-cart{
    font-size: 25px;
    color: white;
}.fa-angle-right{
    right: 25px;
    font-size: 23px;
    position: absolute;
    color: rgba(0, 0, 0, 0.555);

}.nav a{
    color:black;
}.ul{
    overflow: scroll;
    height: 100%;
    position: absolute;
    z-index: 1000;
    width: 365px;
    padding: 0 ;
    background-color: #F6830E;
}.ul h3{
    margin-top: 15px;
    font-size: 18px;
    padding-left: 30px;
}.ul li a{
    color: black;
    font-size: 14px;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}.ul li a:hover{
    background-color: rgba(0, 0, 0, 0.473);

}.fa-bars{
    margin-right: 5px;
    font-size: 20px;
}.main{
    
    background-color: #CB2634;
    padding: 5px 0 5px 30px;
}.main p{
    margin: 0;
    display: inline-block;
}.todos{
    border: solid #CB2634 1px;
    cursor: pointer;
    padding:3px 13px ;
}.todos:hover{
    border: black 1px solid;
}.main p:hover{
   
}.main p a{
    margin: 0 5px ;
    border: solid #CB2634 1px;
    padding: 3px 13px;
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
}.main p a:hover{
    border:black 1px solid;
    
}.top{
    
}.mainTitle{

    background-color: white;
    width: 365px;
    margin: 0;
    
}.mainTitle a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    text-align: center;
}.fa-user-circle{
    margin-right: 10px;
    font-size: 30px;
}.containerFiexed{
    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 100%;
    top: 0;
}.closeMain{
    z-index: 10000;
    position: absolute;
    top: 13px;
    left: 380px;
    font-size: 35px;
    color: white;
    width: 80px;
    height: 40px;

}.closeMain:hover{
opacity: 0.6;
}.top{
    position: fixed;
    height: 100%;
    top: 0;
}




/* CAROUSEL */

.carousell {
    overflow: hidden;
    /* max-width: 600px; */
    position: relative;
    text-align: center;
    padding:0;
  }
  
  .carousell .carousel__item,
  .carousell .carousel__item--hidden {
    display: none;
    
  }
  
  .carousell .carousel__item div {
    /* width: 40%; */
    /* max-width: 100%; */
    /* height: 300px; */
   
  }
  
  .carousell .carousel__item--visible {
    display: block;
    animation: fadeVisibility2 0.5s;
    
  }
  
  .carousell .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
    height: 100%;
  }.itemImg{
      width: 100%;
      background-color: turquoise;
  }
  
  .carousell .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    height: 60px;
    color: #FFF;
    font-size: 30px;
    background-color: #2424248e;
  }
  
  .carousell .carousel__actions button[data-js="carousel__button--prev"] {
    /* margin-left: 20px; */
  }
  
  .carousell .carousel__actions button[data-js="carousel__button--next"] {
    /* margin-right: 20px; */
  }
  .carousel__item img{
      height: 300px;
      width: 100%;
  }.left{
      padding: 130px 0;
     
  }.rigth{
    padding: 130px 0;
   
  }@keyframes fadeVisibility2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }
  .boll button{
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background-color: black;
  }

/* FIM DO CAROUSEL */



/* MENU E PRODUTOS */

.description h2{
    margin-top: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}.description p{
    margin: 0;
}.comCartao p {
    font-size: 13.8px;
    font-family: Arial, Helvetica, sans-serif;
}.carousel-control-prev{
    background-color: red;
}.product{
    text-align: center;
    width: 100%;
    padding: 30px 0;
    border-radius: 5px;

}.pa .col{
   width: 100%;
  
}.pa{
    padding: 0 20px;
}.product img{
    width: 145px;
    height: 145px;
}.slide h1{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
}.pa a{ 
    display: block;
    width: 100%;
    border: white solid 1px;
    text-decoration: none;
    color: black;
}.pa a:hover > .product{
    color: black;
    box-shadow: 1px 1px 10px 4px black;
    transition: all 0.2s linear;
}.slide{
    background-color: white;
    padding: 0 10px 40px;
    margin: 20px ;

}
/* FIM DE MENU E PRODUTOS */



/* FOOTER */

.footer{
    text-align: center;
    background-color: #09120F;
}.redesSo svg{
    margin: 0 10px;
    text-decoration: none;
    list-style: none;
    width: 22px;
    height: 22;
}.footer p a{
    text-decoration: none;
   
    padding-left: 30%;
    display: block;
    width: 70%;
    text-align: left;
    color: rgba(207, 207, 207, 0.897);
    font-family: Arial, Helvetica, sans-serif;
}.footer h3{
    margin: 20px 0 30px;
    text-align: left;
    padding:40px 0 0 30%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}.developer p{
    color: white;
    background-color: black;
    padding: 20px;
}.developer p a {
    display: inline-block;
    width: 10%;
    color: blue;
}

/* FIM DO FOOTER */


/*  PRODUTOS DE DETALHES */

.productDescription p{
    margin: 15px auto;
    font-size: 20px;
    display: block;
}.productDescription{
    padding-top: 80px;
    box-sizing: border-box;
}.adc{
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    background-color: blue;
    text-align: center;
}.cep{
    margin-top: 30px;
}.price{
    font-size: 30px;
}
/* DIM PRODUTOS DE DETALHES */
